{% load static %}
{% load carts_tags %}
{% user_carts request as carts %}

<div>
    <!-- カートボタン、クリックでモーダルウィンドウを表示 -->
    <button type="button" class="btn btn-dark btn-secondary d-flex" id="modalButton"
        aria-expanded="false">
        <img class="mx-1" src="{% static "deps/icons/basket2-fill.svg" %}" alt="Catalog Icon" width="24"
            height="24">
        <!-- カート内の商品数を表示 -->
        <span id="goods-in-cart-count">{{ carts.total_quantity }}</span>
    </button>
</div>

<!-- カートのモーダルウィンドウ -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <!-- モーダルウィンドウを閉じるボタン -->
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 class="text-center mb-4">カート</h3>
                <div class="container" id="cart-items-container">
                    <!-- カートの内容 -->
                    {% include "cart.html" %}
                    <!-- カートの内容終了 -->
                </div>
                {% if carts %}
                <!-- 注文確認ページへのリンク -->
                <a class="btn btn-dark" href="orders/create_order.html">
                    注文確認
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>